node_modules
public/
yarn-error.log
.log/
.firebase/
.firebaserc

database-debug.log
ui-debug.log
firebase-debug.log

src/ts/firebase.config.prod.ts

# Added by cargo

/target

# yarn v2
.yarn/*
!.yarn/releases
