node_modules
yarn-error.log
.log/
.firebase/
.firebaserc
/dist/
generated/

database-debug.log
ui-debug.log
firebase-debug.log

src/firebase.config.prod.ts
/test-results/
/playwright-report/
/playwright/.cache/
