---
repos:
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: yarn run prettier
      language: system
      files: "\\.tsx?$"
      args: ["-w"]
    - id: eslint
      name: eslint
      entry: yarn run eslint
      language: system
      files: "\\.tsx?$"
      args: ["--fix", "--ext .ts,.tsx"]
