.app__root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.app__transition-fallback {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: var(--primary-1);
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.app__transition-fallback-enter {
    opacity: 0;
}

.app__transition-fallback-enter-active {
    opacity: 1;
}

.app__transition-fallback-exit-active {
    opacity: 1;
}

.app__transition-fallback-exit {
    opacity: 0;
}
