.app__game {
  display: flex;
  height: 100%;
}

.app__game__header {
  flex: 0 1 24px;
  padding: var(--space-base);
}

.app__game__main {
  flex: 1 1 auth;
  padding: var(--space-base);
}

.app__game__card-holder {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding: var(--space-base) var(--space-large);
}

.app__game__selectable-card {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--primary-3);
  background-color: white;
  color: var(--primary-4);
  text-align: center;
  justify-content: center;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  margin: var(--space-base);

  &.app__game__selectable-card--selected {
    background-color: var(--primary-3);
    color: var(--secondary-1-1);
  }
}

.app__game__selectable-card__storypoint {
  text-align: center;
}
