.app__game__game-settings {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: var(--space-large);
}

.app__game__game-settings__opener {
  padding: var(--space-small);
  outline: none;
  background: none;
  border: 2px solid transparent;
  transition: border 0.1s ease-out;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 16px;

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    mask: url("../svg/settings.svg");
    mask-size: cover;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-1-4);
  }

  &:hover {
    border: 2px solid var(--secondary-1-4);
  }

  &.app__game__game-settings__opener--opened {
    border: 2px solid var(--secondary-1-4);
    background-color: var(--secondary-1-4);
    border-radius: 16px 16px 4px 4px;

    &::before {
      background-color: white;
    }
  }
}

.app__game__game-settings__container {
  display: flex;
  position: absolute;
  visibility: hidden;
  top: calc(32px - 2px);
  right: 0;
  border: 2px solid var(--secondary-1-4);
  padding: var(--space-large);

  &.app__game__game-settings__container--opened {
    visibility: visible;
  }
}

.app__game__game-settings__item {
  display: flex;
  flex: 1 1 auto;
}

.app__game__game-settings__label {
  flex: 0 0 auto;
  white-space: nowrap;
  text-align: center;
  padding: var(--space-base) var(--space-large);
  background-color: var(--secondary-1-4);
  color: var(--secondary-1-1);
}
