.app__game {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__game__header {
  display: flex;
  flex: 0 1 48px;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: var(--space-large);
  z-index: 3;
}

.app__game__header__right {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.app__game__header__game-info {
  flex: 0 0 auto;
  display: flex;
  color: var(--primary-4);
  padding: 0 0 0 var(--space-small);
}

.app__game__header__game-info__name-container {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
}

.app__game__header__game-info__name-label {
  display: flex;
  flex: 0 0 auto;
  color: var(--primary-2);
  align-items: center;
}

.app__game__header__game-info__name {
  display: flex;
  flex: 1 1 auto;
  font-weight: bold;
  padding: var(--space-base) var(--space-large);
  align-items: center;
}

.app__game__header__game-info__actions {
  flex: 0 0 auto;
  display: flex;
}

.app__game__header__game-info__actions__leave {
  border-radius: 16px;
  border: 1px solid transparent;
  background: none;
  transition: background-color 0.5s ease, clip-path 0.5s ease, border 0.5s ease;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--secondary-2-3);
    background-color: var(--secondary-2-1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  &::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-image: url("../svg/opened-door-aperture.svg");
    mask: url("../svg/opened-door-aperture.svg");
    background-color: var(--secondary-2-4);
    mask-size: cover;
    vertical-align: middle;
  }

  &::after {
    display: inline-block;
    content: "Leave";
    color: var(--secondary-2-4);
    position: relative;
    right: -10em;
    vertical-align: middle;
    transition: right 0.1s ease-in;
    margin-left: var(--space-base);
    margin-right: var(--space-base);
  }

  &:hover::after {
    right: 0;
  }
}

.app__game__main {
  display: flex;
  flex: 1 1 auto;
  padding: var(--space-base);
  z-index: 2;
}

.app__game__main__game-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.app__game__main__grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    [space-bottom] "upperSpacer upperSpacer upperSpacer" 1fr [space-bottom]
    [upper] ". upper ." 128px [upper]
    [table] ". table ." 98px [table]
    [lower] ". lower ." 128px [lower]
    [lower-spacer] "lowerSpacer lowerSpacer lowerSpacer" 1fr [lower-spacer]
    / 1fr max-content 1fr;
}

.app__game__main__upper-spacer {
  grid-area: upperSpacer;
}

.app__game__main__lower-spacer {
  grid-area: lowerSpacer;
}

.app__game__main__users-in-upper {
  grid-area: upper;
  display: flex;
  justify-content: space-around;
}

.app__game__main__users-in-lower {
  grid-area: lower;
  display: flex;
  justify-content: space-around;
}

.app__game__main__table {
  grid-area: table;
  display: flex;
  border-radius: 92px;
  border: 2px solid var(--primary-3);
  background-color: var(--secondary-1-2);
  height: 92px;
  min-width: 256px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__game__main__game-management-button--waiting {
  flex: 0 1 auto;
}

.app__game__main__game-management-button--show-down {
  flex: 0 1 auto;
  outline: none;
  border: 1px solid var(--secondary-2-4);
  border-radius: var(--base-border-radius);
  background-color: var(--secondary-2-1);
  color: var(--secondary-2-4);
  padding: var(--space-base) var(--space-large);
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, box-shadow 0.2s ease-out;

  &:active {
    box-shadow: var(--box-shadow);
  }

  &:hover {
    color: var(--secondary-2-1);
    background-color: var(--secondary-2-3);
  }
}

.app__game__main__game-management-button--next-game {
  flex: 0 1 auto;
  outline: none;
  border: 1px solid var(--primary-4);
  border-radius: var(--base-border-radius);
  background-color: var(--primary-1);
  color: var(--primary-4);
  padding: var(--space-base) var(--space-large);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;

  &:active {
    box-shadow: var(--box-shadow);
  }

  &:hover {
    color: var(--primary-1);
    background-color: var(--primary-4);
  }
}

.app__game__card-holder {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding: var(--space-base) var(--space-large);
  height: 144px;
  align-items: flex-end;
}

.app__game__selectable-card {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--primary-3);
  background-color: white;
  color: var(--primary-4);
  text-align: center;
  justify-content: center;
  margin: var(--space-base);

  /* transition */
  transition: transform 100ms ease-out;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    transform: translateY(calc(-1 * var(--space-base)));
  }

  &.app__game__selectable-card--selected {
    background-color: var(--primary-3);
    color: var(--secondary-1-1);
    transform: translateY(calc(-1 * var(--space-base)));
  }
}

.app__game__selectable-card__storypoint {
  text-align: center;
}

.app__game__main__user-hand {
  display: inline-block;
}

.app__game__main__user-hand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__game__main__player-card {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--primary-3);
  background-color: white;
  color: var(--primary-4);
  text-align: center;
  justify-content: center;
  margin: var(--space-base);

  &.app__game__main__player-card--handed {
    background-color: var(--primary-3);
    color: var(--secondary-1-1);
  }
}

.app__game__main__player-card--inspector {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--primary-3);
  justify-content: center;
  margin: var(--space-base);
  align-items: center;
}

.app__game__main__player-card__eye {
  display: block;
  mask: url("../svg/eye.svg") no-repeat center center;
  mask-size: contain;
  background-color: var(--primary-3);
  height: calc(var(--card-height) - var(--space-base));
  width: calc(var(--card-width) - var(--space-base));
}

/* average show case */
.app__game__average-point-showcase {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding: var(--space-base) var(--space-large);
  position: relative;
  height: 144px;
  align-items: center;
}

.app__game__average-point-showcase__results {
  display: flex;
  flex: 0 0 auto;
}

.app__game__average-point-showcase__average {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-3);
  border-radius: var(--base-border-radius);
  padding: var(--space-large);
}

.app__game__average-point-showcase__equal {
  flex: 0 0 auto;
  font-size: 1.25rem;
  color: var(--secondary-2-1);
}

.app__game__average-point-showcase__average-label {
  flex: 0 0 auto;
  color: var(--secondary-2-1);
}

.app__game__average-point-showcase__average-value {
  flex: 0 0 auto;
  align-items: center;
  font-size: 1.75rem;
  color: var(--secondary-2-1);
}

.app__game__result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--space-large);

  &:last-of-type {
    margin-right: calc(2 * var(--space-large));
  }
}

.app__game__result-display__card {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--primary-3);
  background-color: white;
  color: var(--primary-4);
  text-align: center;
  justify-content: center;
  margin: var(--space-base);
}

.app__game__result-display__count {
  color: black;
  text-align: center;
}
