.app__game-selector {
  display: flex;
  position: relative;
  flex-direction: column;
  top: calc(50% - 125px);
  min-width: 250px;
  max-width: 50%;
  height: 250px;
  margin: auto;
  /* border */
  border: 1px solid var(--secondary-1-3);
  border-radius: var(--base-border-radius);
  box-shadow: var(--box-shadow);
  z-index: 0;
}

.app__game-selector__header {
  flex: 0 1 auto;
  padding: var(--space-base);
  font-size: var(--large-font-size);
  font-weight: bold;
  border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
  background-color: var(--primary-3);
  color: var(--secondary-1-1);
}

.app__game-selector__main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
}

.app__game-selector__main__selection-container {
  display: flex;
  flex: 0 0 auto;
  height: calc(var(--space-large) * 3);
  align-items: center;
  font-size: var(--large-font-size);
  border-left: 16px solid transparent;
  transition: border-left 0.1s ease-out;
  padding-left: var(--space-large);
  color: var(--primary-4);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dashed var(--primary-3);

  &:hover {
    border-left: 16px solid var(--secondary-2-3);
  }
}

.app__game-selector__main__card {
  flex: 1 1 auto;
  width: 100%;
  height: calc(var(--large-font-size) * 2);
}

.app__game-selector__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 1 auto;
  padding: var(--space-base);
  font-size: var(--large-font-size);
  font-weight: bold;
  border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);

  background-color: var(--primary-3);
  color: var(--secondary-1-1);
}

.app__game-selector__creator-opener {
  flex: 0 0 auto;
  outline: none;
  border: 1px solid var(--secondary-1-4);
  border-radius: var(--base-border-radius);
  background-color: var(--secondary-1-1);
  color: var(--secondary-1-4);
  padding: var(--space-base) var(--space-large);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;

  &:active {
    box-shadow: var(--box-shadow);
  }

  &:hover {
    color: var(--secondary-1-1);
    background-color: var(--secondary-1-4);
  }
}
