.app__game__invitation-link-viewer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app__game__invitation-link-viewer__opener {
  padding: var(--space-base);
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid transparent;
  transition: background-color 0.1s ease-out, border-botton 0.1s ease-out;
  cursor: pointer;
  height: 32px;

  &:hover {
    border-bottom: 1px solid var(--secondary-1-4);
    background-color: var(--secondary-1-2);
  }
}

.app__game__invitation-link-viewer__container {
  display: flex;
  position: absolute;
  visibility: hidden;
  top: 32px;

  &.app__game__invitation-link-viewer__container--opened {
    visibility: visible;
  }
}

.app__game__invitation-link-viewer__label {
  flex: 0 0 auto;
  text-align: center;
  padding: var(--space-base) var(--space-large);
  background-color: var(--secondary-1-4);
  color: var(--secondary-1-1);
}
