.app__invitation {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app__invitation__overlay {
  position: absolute;
  z-index: 0;
  background-color: rgba(0 0 0 20%);
  width: 100%;
  height: 100%;
}

.app__invitation__dialog {
  flex: 0 0 auto;
  border: 1px solid var(--secondary-1-3);
  border-radius: var(--base-border-radius);
  padding: var(--space-large);
  background-color: white;
  z-index: 1;
}
