.app__signin-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0 0 0 / 30%);
  z-index: 1;
  visibility: hidden;
}

.app__signin-overlay-enter {
  visibility: visible;
  opacity: 0;
}

.app__signin-overlay-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.app__signin-overlay-exit {
  visibility: visible;
  opacity: 1;
}

.app__signin-overlay-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.app__signin-overlay-exit-done {
  visibility: hidden;
}

.app__signin-root {
  display: flex;
  position: relative;
  flex-direction: column;
  top: calc(50% - 125px);
  width: 400px;
  margin: auto;

  /* border */
  border: 1px solid var(--secondary-1-3);
  border-radius: var(--base-border-radius);
  box-shadow: var(--box-shadow);
  z-index: 0;
}

.app__signin-header {
  flex: 0 1 auto;
  padding: var(--space-base);
  font-size: var(--large-font-size);
  font-weight: bold;
  border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;

  /* colors */
  background-color: var(--primary-3);
  color: var(--secondary-1-1);
}

.app__signin-main {
  flex: 1 1 auto;
  background-color: white;
  padding: var(--space-large);
}

.app__signin-main__input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.app__signin-main__input-item {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.app__signin-main__input-item:not(:first-child) {
  margin-top: var(--space-large);
}

.app__signin-main__input-label {
  flex: 0 0 100px;
}

.app__signin-main__input {
  flex: 1 1 auto;
  height: calc(var(--large-font-size) * 2);
}

.app__signin-footer {
  flex: 0 1 auto;
  padding: var(--space-base);
  font-size: var(--large-font-size);
  font-weight: bold;
  border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
  text-align: right;

  /* colors */
  background-color: var(--primary-3);
  color: var(--secondary-1-1);
}

.app__signin__submit {
  flex: 0 1 auto;
  outline: none;
  border: 1px solid var(--secondary-1-4);
  border-radius: var(--base-border-radius);
  background-color: var(--secondary-1-1);
  color: var(--secondary-1-4);
  padding: var(--space-base) var(--space-large);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;

  &:active {
    box-shadow: var(--box-shadow);
  }

  &:hover {
    color: var(--secondary-1-1);
    background-color: var(--secondary-1-4);
  }
}

.app__signin-main__sign-up-link {
  text-align: center;
}
