.app__game__user-info {
  display: flex;
  position: relative;
  align-items: center;
  padding: var(--space-base) 0;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-out;
  cursor: pointer;

  &:hover {
    border-color: var(--secondary-1-4);
  }
}

.app__game__user-info__icon {
  display: inline-block;
  flex: 0 0 auto;
  mask: url("/static/svg/user.svg");
  mask-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--secondary-1-4);
  margin-right: var(--space-base);
}

.app__game__user-info__name {
  display: inline-block;
  flex: 1 1 auto;
  width: 128px;
  text-overflow: ellipsis;
  color: var(--primary-4);
}

.app__game__user-info__indicator {
  display: inline-block;
  flex: 0 0 auto;
  mask: url("/static/svg/arrow-down.svg");
  mask-size: cover;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-4);
  transition: transform 0.2s ease;

  &.app__game__user-info__indicator--opened {
    transform: rotateZ(180deg);
  }
}
