.app__game__user-info-updater {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  padding: var(--space-large);

  /* borders */
  border: 1px solid var(--secondary-1-4);
  border-radius: var(--base-border-radius);
}

/* applyer */
.app__game__user-info-updater__applyer {
  text-align: right;
  margin-top: var(--space-large);
}

.app__game__user-info-updater__name-editor__submit {
  border-radius: var(--base-border-radius);
  border: 1px solid var(--secondary-1-3);
  background-color: var(--secondary-1-2);
  padding: var(--space-base) var(--space-large);
  cursor: pointer;
  transition: border-color 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;

  &[disabled] {
    background-color: var(--secondary-1-1);
    border-color: var(--secondar-1-2);
    cursor: default;
  }
}

/* name-editor */

.app__game__user-info-updater__name-editor {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border: 1px solid var(--secondary-1-4);
}

.app__game__user-info-updater__name-editor__label {
  flex: 0 0 auto;
  text-align: center;
  padding: var(--space-base) var(--space-large);
  background-color: var(--secondary-1-4);
  color: var(--secondary-1-1);
}

.app__game__user-info-updater__name-editor__input {
  flex: 1 1 auto;
  width: calc(196px - (var(--space-large) * 2));
  margin: var(--space-base) var(--space-large);
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--secondary-1-3);
  padding: 0;

  &:focus {
    border-bottom: 1px solid var(--secondary-1-3);
  }
}
