:root {
  --base-font-size: 13.5px;
  --large-font-size: 16px;
  --base-border-radius: 4px;
  --header-shadow: 0 7px 3px rgba(0, 0, 0, 0.2);
  --box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3), -4px 0 7px rgba(0, 0, 0, 0.3);
  --space-large: 16px;
  --space-base: 8px;
  --space-small: 4px;
  --space-nano: 2px;
  /* colors */
  --primary-0: rgba(38, 96, 107, 1); /* Main Primary color */
  --primary-1: rgba(109, 153, 161, 1);
  --primary-2: rgba(69, 123, 133, 1);
  --primary-3: rgba(16, 72, 82, 1);
  --primary-4: rgba(2, 47, 55, 1);
  --secondary-1-0: rgba(174, 140, 59, 1); /* Main Secondary color (1) */
  --secondary-1-1: rgba(255, 230, 171, 1);
  --secondary-1-2: rgba(216, 185, 109, 1);
  --secondary-1-3: rgba(133, 101, 24, 1);
  --secondary-1-4: rgba(90, 64, 1, 1);
  --secondary-2-0: rgba(174, 65, 59, 1); /* Main Secondary color (2) */
  --secondary-2-1: rgba(255, 176, 171, 1);
  --secondary-2-2: rgba(216, 114, 109, 1);
  --secondary-2-3: rgba(133, 29, 24, 1);
  --secondary-2-4: rgba(90, 6, 1, 1);
}
